/* visited link */
a:visited {
  color: grey;
}

/* unvisited link */
a:link {
  color: white;
}

body{
  background-image: url("images/background1.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: oswald;
}

h1{
  font-family: oswald;
  color: #e5e4e1;
}

h2{
   text-decoration: underline;
   font-family: oswald;
   color: #e5e4e1;
}
header{
   height: 100px;
   background-color: black;
   background-image: url("images/header1.jpg");
   color: #e5e4e1;
   font-family: oswald;
   text-align: center;
   text-decoration: underline;
   border: 2px solid white;
}
 #main-body{
   height:900px;
   margin-top: 5px;
 }
 #sidebar{
   height: 850px;
   width: 7%;
   float: left;
   color: white;
   border: 2px solid white;
   background-color: black;
   background-image: url("images/sidebar1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding-left: 10px;
   font-family: oswald;
 }

 #main{
   height: 800px;
   padding-left:10px;
 }

 #content{
   height: 480px;
   width" 78%
   float: none;
 }

 #footer{
   text-align: center;
   font-family: times;
   height: 10px;
   padding-left: 10px;
   padding-top: 20px;
   margin-top: 5px;
 }

#home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
}
